Repository denser/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @freeseacher, @dmitryluhtionov

fix get_inventory Eltex.MES. Serial fix
  sa/profiles/Eltex/MES/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Update get_inventory.py
  sa/profiles/Eltex/MES/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Services reference
  docs/services-reference/docs/activator.md
  docs/services-reference/docs/bi.md
  docs/services-reference/docs/card.md
  docs/services-reference/docs/chwriter.md
  docs/services-reference/docs/classifier.md
  docs/services-reference/docs/correlator.md
  docs/services-reference/docs/datasource.md
  docs/services-reference/docs/datastream.md
  docs/services-reference/docs/discovery.md
  docs/services-reference/docs/escalator.md
  docs/services-reference/docs/grafanads.md
  docs/services-reference/docs/kafkasender.md
  docs/services-reference/docs/login.md
  docs/services-reference/docs/mailsender.md
  docs/services-reference/docs/metrics.md
  docs/services-reference/docs/metricscollector.md
  docs/services-reference/docs/mrt.md
  docs/services-reference/docs/mx.md
  docs/services-reference/docs/nbi.md
  docs/services-reference/docs/ping.md
  docs/services-reference/docs/sae.md
  docs/services-reference/docs/scheduler.md
  docs/services-reference/docs/syslogcollector.md
  docs/services-reference/docs/tgsender.md
  docs/services-reference/docs/trapcollector.md
  docs/services-reference/docs/ui.md
  docs/services-reference/docs/web.md
  docs/services-reference/docs/worker.md
  docs/services-reference/macros.py
  docs/services-reference/mkdocs.yml
Owners: @dv, @aversant

Add sync_alarm to DiagnosticHub.
  core/wf/diagnostic.py
Owners: @dv, @aversant

Refactor Diagnostic API.
  core/wf/diagnostic.py
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

Add reset_diagnostics.
  core/wf/diagnostic.py
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

Add DiagnosticHub to ManagedObject model.
  core/checkers/profilechecker.py
  core/wf/diagnostic.py
  sa/models/managedobject.py
  services/card/cards/managedobject.py
  services/classifier/service.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/version.py
  services/discovery/jobs/periodic/diagnostic.py
  services/web/apps/sa/managedobject/views.py
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

Additional tests.
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

Fix flake.
  core/wf/diagnostic.py
Owners: @dv, @aversant

Fix flake.
  sa/models/managedobject.py
  services/discovery/jobs/base.py
Owners: @dv, @aversant

Fix test.
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

Add default_state to DiagnosticConfig.
  core/wf/diagnostic.py
  sa/models/managedobject.py
  services/discovery/jobs/periodic/diagnostic.py
  services/sae/paths/sae.py
  wf/models/state.py
Owners: @dv, @aversant

Fix black.
  services/sae/paths/sae.py
Owners: @dv, @aversant

Fix typo.
  core/checkers/profilechecker.py
  core/wf/diagnostic.py
  services/discovery/jobs/periodic/diagnostic.py
Owners: @dv, @aversant

Add ignored_macs to exclude it from chassis id.
  inv/models/discoveryid.py
Owners: @dv, @aversant

Add ignored_chassis_macs setting.
  config.py
Owners: @dv, @aversant, @freeseacher

Fix typo.
  config.py
  inv/models/discoveryid.py
Owners: @dv, @aversant, @freeseacher

Bump Pydantic to 2.0.2 and FastAPI to 0.100.0
  .requirements/node.txt
  core/cdag/node/alarm.py
  core/cdag/node/base.py
  core/model/fields.py
  core/wf/diagnostic.py
  sa/models/authprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/metricscollector/models/send.py
Owners: @dv, @aversant

Fix tests, including: * replace __fields__ with model_fields * replace ModelField with FieldInfo
  core/cdag/factory/config.py
  core/cdag/node/base.py
  core/cdag/node/state.py
  core/etl/loader/base.py
  core/etl/models/base.py
  core/etl/models/typing.py
  services/metricscollector/models/send.py
Owners: @dv, @aversant

Fix tests
  core/etl/models/base.py
Owners: @dv, @aversant

Fix tests
  core/cdag/node/alarm.py
  core/cdag/node/subgraph.py
  tests/cdag/test_graph.py
Owners: @dv, @aversant

Fix mapped fields
  core/etl/models/base.py
Owners: @dv, @aversant

Fix from_iter for Reference fields
  core/etl/models/base.py
  core/etl/models/typing.py
  tests/etl/models/test_administrativedomain.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# Cython files
*.pyx @dv

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
/requirements/ @dv @freeseacher

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @freeseacher

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @freeseacher

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @freeseacher
